@charset "UTF-8";

main {
  width: 900px;
  background: #eff3f4;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.q2-text {
  font-size: 17px;
  line-height: 22px;
}

.balloon {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.lantern {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
