@charset "UTF-8";

.cal-table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  text-align: center;
}

.cal-table th,.cal-table td {
  border: solid 1px #dedede;
  padding: 10px 0;
}

.cal-table th,.cal-table td:first-child {
  color: #fff;
  background: #24a;
}

.cal-table tr:last-child {
  border-top: dashed #000 2px;
}

.cal-table tr:nth-child(odd) {
  background: #ecf1f2;
}