@charset "UTF-8";

.table {
  width: 100%;
  display: table;
  margin: auto;
  box-sizing: border-box;
}

.boxlayout {
  display: table-cell;
  text-align: center;
  padding: 20px 0;
}

.is-pink {
  width: 100px;
  background-color: #fdc8b8;
}

.is-purple {
  background-color: #e0abd9;
}

.is-blue {
  width: 100px;
  background-color: #b6d8ed;
}

.is-orange {
  background-color: #e5d32e;
}

.is-yellow {
  background-color: #e4e67c;
}

.is-green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
