@charset "UTF-8";

.main-box {
  width: 500px;
  height: 500px;
  background: #ecf1f2;
  position: relative;
  margin: auto;
}

.box1 {
  background: #ffefd3;
  position: absolute;
  top: 40px;
  left: 200px;
}

.box2 {
  background: #7084de;
  position: absolute;
  top: 120px;
  left: 280px;
  z-index: 20;
}

.box3 {
  background: #d0ecea;
  position: absolute;
  top: 200px;
  left: 360px;
  z-index: 30;
}

.box4 {
  background: #8b7a5e;
  position: absolute;
  top: 280px;
  left: 280px;
  z-index: 40;
}

.box5 {
  background: #9fd6d2;
  position: absolute;
  top: 360px;
  left: 200px;
  z-index: 50;
}

.box6 {
  background: #fffee4;
  position: absolute;
  top: 280px;
  left: 120px;
  z-index: 60;
}

.box7 {
  background: #deae70;
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 70;
}

.box8 {
  background: #de70cf;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 80;
}

.box9 {
  background: #2b69a3;
  position: fixed;
  top: 20px;
  left: 20px;
}

.box8:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #ffefd3;
  position: absolute;
  top: 0;
  right: 0;
}

.boxlayout {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

